

* {
  margin: 0;
  padding: 0;
}

/* styles to apply to body */

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.name {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card {
  width: 100%;
  background-color: #fff;
  border: 2px solid #919191;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  overflow: hidden;
margin-left: 250px;
margin-top: 30px;}

.card-body {
  padding: 20px;
  
}



.avatar-m {
  border-radius: 50%;
  background-color: #fff;
  height: 190px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}



.map{
  display: flex;
  align-items: center;
}
.map img {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  
}.user-card {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: 30px;
  border: 3px solid #ccc;
  border-radius: 10px;
  height: 300px;
  width: 700px;
  font-size: 1.2rem;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}  
.user-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: start;
  font-style: ;

}
.location {
  font-size: 14px;
  margin: 0;
}
.description {
  font-size: 18px;
  margin: 0;
}
a.link {
  color: blue;
  text-decoration-line: underline;
  font-weight: bold;

}
.aligne{
  display: flex;
  align-items: center;
  
}
.textimg{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.card-header {
  background-color: #69adb9;
  height: 200px;
  width: 950px;
  margin-bottom: 70px;
  
